.MMM-MVVWiesty .module-content {
  width: 100%;
  margin: 0 auto;
  overflow: visible;
}

.mvv-table-wrapper {
  width: 100%;
  overflow: visible;
}

.mvv-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse !important;
  font-size: 1em;
  line-height: 1.2em;
  box-sizing: border-box;
}

.notification-cell {
  width: 100% !important;
  overflow: hidden;
}

.productsvg {
  height: 0.9em;
  width: auto;
  display: block;
}

.icon-cell {
  width: 32px;
  min-width: 32px;
  padding: 4px 8px 4px 0;
  text-align: left;
}

.line-cell {
  width: 50px;
  min-width: 50px;
  padding: 4px 8px;
  text-align: left;
  white-space: nowrap;
}

.direction-cell {
  width: auto;
  min-width: 150px;
  padding: 4px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.time-cell {
  width: 60px;
  min-width: 60px;
  padding: 4px 8px;
  text-align: right;
  white-space: nowrap;
}

.until-cell {
  width: 90px;
  min-width: 90px;
  padding: 4px 0 4px 8px;
  text-align: right;
  white-space: nowrap;
}

.mvv-table tr.departure-row, .mvv-table .notification-cell {
  border-bottom: 1px solid #474747;
}

.mvv-table tr.departure-row:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.05);
}

.mvv-table tr:last-child {
  border-bottom: none;
}

.mvv-table td {
  text-align: left;
  box-sizing: border-box;
}


.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.scroll-text {
  display: inline-block;
  transform: translateX(100%);
  animation: scroll-animation linear infinite;
  box-sizing: border-box;
  white-space: nowrap;
}

@keyframes scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}